.Form_Div {
  margin-bottom: 40px;
}

.GeneCard {
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.FrontCard {
  margin-bottom: 40px;
}

.BrandName {
  font-weight: bold;
  color: #C0D6DF;
}

.NavHeader {
  margin-bottom: 20px;
  background-color: #4F6D7A;
}

#root {
  background-color: #EAEAEA;
}